@-webkit-keyframes sky {
  from {
    left: 50%;
  }
  to {
    left: -30%;
  }
}

@keyframes sky {
  from {
    left: 50%;
  }
  to {
    left: -30%;
  }
}

@-webkit-keyframes airplane {
  0% {
    top: 40%;
    left: 20%;
  }
  25% {
    top: 55%;
    left: 40%;
  }
  75% {
    top: 30%;
    left: 10%;
  }
  100% {
    top: 40%;
    left: 20%;
  }
}

@keyframes airplane {
  0% {
    top: 40%;
    left: 20%;
  }
  25% {
    top: 55%;
    left: 40%;
  }
  75% {
    top: 30%;
    left: 10%;
  }
  100% {
    top: 40%;
    left: 20%;
  }
}

/* Loader */

#loader-wrapper {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #52b3d9;

  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.cloud {
  position: absolute;
  background-color: #c5eff7;
  width: 7em;
  height: 7em;
  border-radius: 7em;
  left: 80%;
  top: 5%;
  animation: sky 2s infinite;
  -webkit-animation: sky 5s infinite;
}

.cloud::before {
  content: '';
  display: block;
  width: 5em;
  height: 5em;
  border-radius: 5em;
  background-color: #c5eff7;
  margin-left: -2em;
}

.cloud::after {
  content: '';
  display: block;
  width: 7em;
  height: 7em;
  border-radius: 7em;
  background-color: #c5eff7;
  margin-left: 4em;
  margin-top: -6em;
}

.cloud:nth-of-type(2) {
  background-color: #e4f1fe;
  left: 70%;
  top: 30%;
  transform: rotate(180deg) skew(-20deg);
  animation: sky 7s infinite;
  -webkit-animation: sky 7s infinite;
}

.cloud:nth-of-type(2)::before,
.cloud:nth-of-type(2)::after {
  background-color: #e4f1fe;
}

.cloud:nth-of-type(3) {
  top: 70%;
  left: 80%;
  animation: sky 9s infinite;
  -webkit-animation: sky 9s infinite;
}

.cloud:nth-of-type(3)::before,
.cloud:nth-of-type(3)::after {
  transform: rotate(60deg) skewY(-23deg);
  width: 6em;
  border-radius: 6em;
  height: 6em;
  margin-left: -4em;
}

.cloud:nth-of-type(3)::after {
  margin-left: -1em;
  margin-top: -9em;
}

.airplane {
  position: absolute;
  width: 0;
  height: 0;
  border-top: 100px solid transparent;
  border-left: 150px solid #34495e;
  border-bottom: 100px solid transparent;
  z-index: 100;
  transform: rotate(-20deg) skew(10deg);
  top: 40%;
  left: 20%;
  animation: airplane 15s infinite;
  -webkit-animation: airplane 15s infinite;
}

.airplane::before {
  border-bottom: 27px solid #4b77bc;
  border-left: 45px solid transparent;
  border-right: 2px solid transparent;
  border-radius: -11px;
  height: 0;
  width: 100px;
  content: '';
  position: absolute;
  z-index: 6;
  height: 0em;
  margin-left: -10em;
  margin-top: -5px;
  transform: rotate(182deg) skewX(-35deg);
}

.airplane::after {
  border-bottom: 26px solid #34495e;
  border-left: 33px solid transparent;
  border-right: 2px solid transparent;
  height: 0;
  width: 98px;
  content: '';
  position: absolute;
  z-index: 6;
  height: 0em;
  margin-left: -9.9em;
  margin-top: -2px;
  transform: rotate(182deg) skewX(-47deg);
}
